body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 20px;
    padding-top: 100px;
    display: block;
    margin-left: 70px;
    
}

.hi {
    padding-bottom: none;
}


#photo {
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: Grid;
    align-content: end;
    width: 500px;
   
}
#heroGrid {
    background-color:white;
    margin: 0px 5%;
    display: grid;
    min-height: 650px;
    max-height: 650px;
    height: 100vh;
    grid-template-rows: 40% 20% 20% 10% 10%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
    "paragraph Photo"
    "location Photo"
    "Dog Photo"
    "work connect"
    "icons icons";
}

#bio {
    font-size: 20px;
    padding-right: 20px;
    line-height: 2;
    padding-top: 30px;
}

#location {
    font-size: 20px;
}

.aboutMe{
    grid-area: paragraph;
}

.geo{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.pet{
    grid-area: Dog;
    display: flex;
    font-size: 20px;
    font-weight: normal;
}

.cta{
    grid-area: work;
    font-size: 20px;
    text-decoration: underline;
}

.myphoto{
    grid-area: Photo;
    display: flex;
    justify-content: center;
    height: 500px;
}

.connect{
    grid-area: connect;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 22px;
    padding-right: 15px;
}

.icons{
    grid-area: icons;
    display: flex;
    background-repeat: no-repeat;
    background-size: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 180px;
}

.icons img{
    width:40px;
    height: 40px;
    padding: 10px; 
}